body {
  background-image: url("wallpaper.jpg");
}

h1 {
  font-family: "Century Gothic";
  text-align: center;
  color: white;
}

h3 {
  font-family: "Century Gothic";
  text-align: center;
  font-size: 70px;
  color: white;
}

h2 {
  font-family: "Century Gothic";
  color: white;
  font-size: 40px;
  text-align: right;
  padding-right: 75px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.center {
  margin: 0 auto;
  width: 18.5em;
}

div {
    width: 300px;
    padding: 0px;
    border: 25px solid firebrick;
    margin: 100px;

}

p {
  font-family: "Century Gothic";
  color: white;
  text-align: center;
}

a {
  font-family: "Century Gothic";
  color: lightpink;
}
